<div *ngIf="isLoading">
  <h1 style="font-weight: bold; text-align: center">{{ statusMessage }}</h1>
</div>
<div *ngIf="error && !isLoading">
  <h1 style="color: red; text-align: center">{{ statusMessage }}</h1>
</div>
<div style="display: flex; flex-direction: column" *ngIf="!error && !isLoading">
  <p class="titles">{{ selectedCountry.name }}</p>
  <div class="country">
    <img src="{{ selectedCountry.flag }}" alt="flag" class="country-flag" />
    <div class="country-info">
      <p><b>Region:</b> {{ selectedCountry.region }}</p>
      <p><b>Subregion:</b> {{ selectedCountry.subregion }}</p>
      <p><b>Capital:</b> {{ selectedCountry.capital }}</p>
      <p><b>Population: </b>{{ selectedCountry.population }}</p>
      <p><b>Currency:</b> {{ selectedCountry.currencies[0].name }}</p>
      <p><b>Language:</b> {{ selectedCountry.languages[0].name }}</p>
    </div>
  </div>
  <p class="titles">{{ selectedCountry.name }} BoredersCountries</p>
  <div class="countries-container" *ngIf="borderCountries.length !== 0">
    <app-country
      *ngFor="let country of borderCountries"
      [country]="country[0]"
      class="country-card"
    ></app-country>
  </div>
  <div style="margin: 3%" *ngIf="borderCountries.length === 0">
    <p style="font-style: oblique; font-weight: bold">
      There are no border countries for {{ selectedCountry.name }}
    </p>
  </div>
</div>
