<div class="country-card" [routerLink]="['/countries', country.name]">
  <div style="display: flex" class="circular--landscape">
    <img src="{{ country.flag }}" alt="flag" class="country-flag" />
  </div>
  <div class="country-information">
    <p class="country-name">
      {{ country["name"] }}
    </p>
    <div style="line-height: 2px">
      <p style="color: #292828">{{ country.region }}</p>
      <p style="color: #292828">{{ country.capital }}</p>
      <p style="color: #292828">{{ country.population }}</p>
    </div>
  </div>
</div>
