.country-card:hover {
  transform: scale(1.05);
  transition: transform 0.25s ease-out;
}

.country-flag {
  display: inline-block;
  position: relative;
  width: 4rem;
  height: 4rem;
  overflow: hidden;
  border-radius: 50%;
  margin-top: 2%;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid black;
}

.country-information {
  align-self: center;
  text-align: center;
  font-size: 90%;
}

.country-name {
  font-size: 100%;
  font-weight: bold;
}
