.countries {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.each-country-card {
  border: 1px solid black;
  border-radius: 20px;
  box-shadow: 3px 3px #e2dfdf;
  height: 200px;
  flex: 0 0 20%;
  margin: 2%;
}

