<div style="margin: 4%; height: 80%">
  <h1
    style="
      text-align: center;
      font-size: 300%;
      margin: 0;
      color: rgb(240, 85, 85);
    "
  >
    Oops!
  </h1>
  <h1 style="text-align: center"><br />ERROR 404 Page Not Found</h1>
  <p style="text-align: center">
    The page you are looking for might have been removed, or its name changed,
    or is temporarily unavailable
  </p>
  <div style="display: flex; justify-content: center">
    <button
      (click)="goToHome()"
      style="
        margin-top: '5%';
        background-color: green;
        border-radius: 25px;
        outline: none;
        width: '40%';
        font-size: 80%;
        height: '50px';
        color: white;
      "
    >
      GO TO HOMEPAGE
    </button>
  </div>
</div>
